# ДЗ

###### Задача 1 Связанные списки

Напишите функцию (пусть она будет называться reverse_linked_list), которая разворачивает связный список. На вход она принимает головную ноду, а на выход отдаёт хвостовую ноду исходного списка, но только теперь если попробовать пройтись по ней, она будет новой головной.

In [25]:
class Node(object):
    def __init__(self, value=None, next_node=None):
        self.value = value
        self.next = next_node

    def __str__(self):
        return f"[Node with value {self.value}]"


def print_linked_list(head):
    cur = head
    while cur is not None:
        print(cur)
        cur = cur.next

def reverse_linked_list(head):
    cur = head
    prev = None
    while cur is not None:
        next = cur.next
        cur.next = prev
        prev = cur
        cur = next
    return prev

In [26]:
h, a, b, c, d = Node(1), Node(2), Node(3), Node("Внезапно"), Node(5)

h.next = a
a.next = b
b.next = c
c.next = d

In [29]:
print_linked_list(h)
h = reverse_linked_list(h)
print("---")
print_linked_list(h)

[Node with value 1]
[Node with value 2]
[Node with value 3]
[Node with value Внезапно]
[Node with value 5]
---
[Node with value 5]
[Node with value Внезапно]
[Node with value 3]
[Node with value 2]
[Node with value 1]

###### Задача 2 Пузырьки

Вам предлагается написать функцию, которая будет на вход получать голову несортированного связного списка, а на выход возвращать голову отсортированного.

1) Вариант с изменением просто значений

In [106]:
def sort_linked_list(head):
    cur = head
    count = 0
    while cur is not None:
            next = cur.next
            if (next is not None and cur.value > next.value):
                cur.value, next.value = next.value, cur.value
                count += 1
            cur = cur.next
    if count == 0:
        return head
    else:
        return sort_linked_list(head)

In [107]:
h, a, b, c, d, e, f, g, i, j = Node(1), Node(8), Node(5), Node(4), Node(3), Node(20), Node(80), Node(1), Node(33), Node(-2)

h.next = a
a.next = b
b.next = c
c.next = d
d.next = e
e.next = f
f.next = g
g.next = i
i.next = j

In [108]:
print_linked_list(h)
h = sort_linked_list(h)
print("---")
print_linked_list(h)

[Node with value 1]
[Node with value 8]
[Node with value 5]
[Node with value 4]
[Node with value 3]
[Node with value 20]
[Node with value 80]
[Node with value 1]
[Node with value 33]
[Node with value -2]
---
[Node with value -2]
[Node with value 1]
[Node with value 1]
[Node with value 3]
[Node with value 4]
[Node with value 5]
[Node with value 8]
[Node with value 20]
[Node with value 33]
[Node with value 80]

2) Вариант с изменением нодов

In [146]:
def sort_nodes_linked_list(head):
    cur = head
    count = 0
    fix = 0
    prev = None
    while cur is not None:
        next = cur.next
        if (next is not None and cur.value > next.value):
            fix = change_nodes(prev, cur, next)
            if fix == 1:
              head = next  
            count += 1
        prev = cur
        cur = cur.next
    if count == 0:
        return head
    else:
        return sort_nodes_linked_list(head)
    
def change_nodes(prev, node_1, node_2):
    if prev is not None:
        next = node_2.next
        prev.next = node_2
        node_1.next = next
        node_2.next = node_1
        return 0
    else:
        next = node_2.next
        node_2.next = node_1
        node_1.next = next
        return 1

In [147]:
h, a, b, c, d, e, f, g, i, j = Node(1), Node(8), Node(5), Node(4), Node(-30), Node(20), Node(80), Node(1), Node(33), Node(-2)

h.next = a
a.next = b
b.next = c
c.next = d
d.next = e
e.next = f
f.next = g
g.next = i
i.next = j

In [148]:
print_linked_list(h)
new_h = sort_nodes_linked_list(h)
print("---")
print_linked_list(new_h)

[Node with value 1]
[Node with value 8]
[Node with value 5]
[Node with value 4]
[Node with value -30]
[Node with value 20]
[Node with value 80]
[Node with value 1]
[Node with value 33]
[Node with value -2]
---
[Node with value -30]
[Node with value -2]
[Node with value 1]
[Node with value 1]
[Node with value 4]
[Node with value 5]
[Node with value 8]
[Node with value 20]
[Node with value 33]
[Node with value 80]

###### Задача 3 Pandas

1) Выясните, сколько в среднем выходит полный счёт по пятницам на ланч у курящих мужчин (датасет tips)

In [160]:
import pandas as pd
path = "data/tips.csv"

df = pd.read_csv(path)

masque = df["day"] == "Fri"
masque = masque & (df["time"] == "Lunch")
masque = masque & (df["smoker"] == "Yes")
masque = masque & (df["sex"] == "Male")
df[masque].head()
print(df[masque]["total_bill"].mean())

11.386666666666668

2) Загрузите iris и посмотрите разбросы по всем числовым значениям для всех трёх классов цветов (датасет iris)

In [177]:
path = "data/iris (1).csv"

df = pd.read_csv(path)

names = df["Name"].unique()

for val in names:
    print(f"Class - {val}")
    masque = df['Name'] == val
    print(f"PetalLength - ({df[masque]['PetalLength'].min()}, {df[masque]['PetalLength'].max()})")
    print(f"PetalWidth - ({df[masque]['PetalWidth'].min()}, {df[masque]['PetalWidth'].max()})")
    print(f"SepalLength - ({df[masque]['SepalLength'].min()}, {df[masque]['SepalLength'].max()})")
    print(f"SepalWidth - ({df[masque]['SepalWidth'].min()}, {df[masque]['SepalWidth'].max()})")
    print("--------------")

Class - Iris-setosa
PetalLength - (1.0, 1.9)
PetalWidth - (0.1, 0.6)
SepalLength - (4.3, 5.8)
SepalWidth - (2.3, 4.4)
--------------
Class - Iris-versicolor
PetalLength - (3.0, 5.1)
PetalWidth - (1.0, 1.8)
SepalLength - (4.9, 7.0)
SepalWidth - (2.0, 3.4)
--------------
Class - Iris-virginica
PetalLength - (4.5, 6.9)
PetalWidth - (1.4, 2.5)
SepalLength - (4.9, 7.9)
SepalWidth - (2.2, 3.8)
--------------

3) Создайте новый столбец с плотностью населения. Переименуйте названия первого и третьего столбца на русский язык

In [182]:
df = pd.DataFrame({
     'country': ['Kazakhstan', 'Russia', 'Belarus', 'Ukraine'],
     'population': [17.04, 143.5, 9.5, 45.5],
     'square': [2724902, 17125191, 207600, 603628]
 })

In [183]:
df = df.assign(destiny = df['population'] * 1000000 / df['square'])
df

      country  population    square    destiny
0  Kazakhstan       17.04   2724902   6.253436
1      Russia      143.50  17125191   8.379469
2     Belarus        9.50    207600  45.761079
3     Ukraine       45.50    603628  75.377550

In [184]:
df.rename(columns={'country': 'страна', 'square': 'площадь'})

       страна  population   площадь    destiny
0  Kazakhstan       17.04   2724902   6.253436
1      Russia      143.50  17125191   8.379469
2     Belarus        9.50    207600  45.761079
3     Ukraine       45.50    603628  75.377550